
/* Your CSS Code here. */
body {
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}

.holder {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
}

.item {
    margin: 5px; 
    padding: 10px; 
    background-color: lightgray; 
    border: 1px solid #000; 
}